

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  margin: 0;
  padding: 20px;
  animation: fade 1s ease-in;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


h1 {
  /* text-align: center;
  color: #f44a2b; */
  font-family: 'Arial Black', 'Impact', sans-serif;
  font-size: 5.0rem;
  letter-spacing: 0.7em;
  text-transform: uppercase;
  color: #CC2200; 
  padding: 0.5rem 1.5rem;
  text-align: center;
}

div {
  text-align: center;
  margin: 10px 0;
}

input, select {
  padding: 8px;
  margin: 5px;
  
}

button {
  padding: 8px 12px;
}



#movies {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}


.movie-card1 {
  border: 1px solid gray;
  padding: 10px;
  width: 200px;
  text-align: center;
  background-color: black;
}

.movie-card1 img {
  width: 100%;
} 


 .movie-card1 {
  border: 1px solid gray;
  padding: 10px;
  width: 200px;
  text-align: center;
  background-color: black;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card1:hover {
  transform: scale(1.05) translateY(-8px);
  box-shadow: 0 10px 25px maroon;
}

#watchlist {
  display: flex;
  gap: 15px;
  justify-content: center;
}



button {
    font-family: 'Montserrat', sans-serif;
  padding: 8px 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

button:hover {
  background-color: black;
  color: red;
  border: 1px solid red;
  transform: scale(1.1);
} 

.added{
  background-color: green;
}
.added:hover{
  border: 1px solid white;
  color: burlywood;

}
#watchlist-h1{
  text-align: center;
  padding: 20px;
  font-size: 3.5rem;
  color: skyblue;
}